<a href="https://colab.research.google.com/github/kkimjjihhyeon/BP_10_Ch6/blob/main/BP_Ex6_10_221107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(2, 101):
       if i%2==0 : 
           print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
year = 0
balance = 1000

while balance <= 2000 :
    year = year + 1
    interest = balance * 0.07
    balance = balance + interest
print(year, "년 걸립니다.")

11 년 걸립니다.

In [ ]:
n =1234
sum = 0
while n > 0 :
    digit = n % 10
    sum = sum + digit
    n = n // 10
print(sum)

10

In [ ]:
import random
x=random.randint(1,10)
y=random.randint(1,10)
z=x*y
while True:
  answer=int(input(str(x)+"*"+str(y)+"는"))
  if z==answer:
    print("맞았습니다.")
    break;

7*2는10
7*2는12
7*2는14
맞았습니다.

In [ ]:
import random
for i in range(3):
  r1=random.randint(1,6)
  r2=random.randint(1,6)
  print("첫번째 주사위=", "두번째 주사위", r2)

첫번째 주사위= 두번째 주사위 2
첫번째 주사위= 두번째 주사위 6
첫번째 주사위= 두번째 주사위 1

In [ ]:
sum=0
while True:
  answer=int(input("정수를 입력하시오:"))
  if answer !=0:
    sum=sum+answer
  else:
    print("합은",sum,"입니다.")
    break;

정수를 입력하시오:1
정수를 입력하시오:2
정수를 입력하시오:3
정수를 입력하시오:0
합은 6 입니다.

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

count = 0
t.lt(30)
for i in range(7):
    t.fd(100); t.fd(-30); t.lt(60); t.fd(30); t.fd(-30);
    t.rt(120); t.fd(30); t.fd(-30); t.lt(60); t.fd(-70); t.lt(60);

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
for i in range(10):
    t.fd(-100)
    t.lt(36)
    t.fd(100)
    t.lt(36)
    t.fd(-100)
    t.lt(36)
    t.fd(100)
    t.lt(36)
    t.fd(-100)
    t.rt(134)

In [ ]:
import random
import turtle
t = turtle.Turtle()
t.shape("turtle")



for i in range(10):
    x = random.randint(1, 100)
    y = random.randint(1, 100)
    z = random.randint(-180, 180)

    t.up()
    t.goto(x, y)
    t.down()
    t.circle(z);

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

count = 0

while True:
    t.fd(100); t.rt(90); t.fd(20); t.rt(90); t.fd(100); t.lt(90); t.fd(20);
    t.lt(90);

    count += 1

    if(count == 7):
        break;

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.color("red", "yellow")
t.begin_fill()
while True:
    t.fd(200)
    t.lt(170)
    if abs(t.pos())< 1:
        break
t.end_fill()

In [ ]:
import turtle
import math

t= turtle.Turtle()
t.shape("turtle")
t.color("red")

for i in range(360):
    sine=math.sin(math.pi*i/180)
    print(sine)
    t.goto(i,sine*100)